<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('我的申请')" />
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="role-form">
				<div class="select-list">
					<ul>
						<li>
							编号：<input type="text" name="stuWorkId"/>
						</li>
						<li>
							名称：<input type="text" name="workName"/>
						</li>
						<li>
							实习单位：<input type="text" name="company"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group-sm" id="toolbar" role="group">

		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
	var removeFlag = [[${@permission.hasPermi('system:myworkapply:remove')}]];
	var prefix = ctx + "sau/myworkapply";

	$(function() {
		var options = {
			url: prefix + "/selectApplyBystudentId",
			removeUrl: prefix + "/deleteById",
			sortName: "stuWorkId",
			modalName: "顶岗实习",
			columns: [
				{
					field: 'stuWorkId',
					title: '编号'
				},
				{
					field: 'workName',
					title: '名称'
				},
				{
					field: 'workRequire',
					cellStyle: formatTableUnit,
					formatter: paramsMatter,
					title: '申请要求'
				},
				{
					field: 'begining',
					title: '开始时间'
				},
				{
					field: 'ending',
					title: '结束时间'
				},
				{
					field: 'company',
					cellStyle: formatTableUnit,
					formatter: paramsMatter,
					title: '实习单位'
				},
				{
					field: 'auditState',
					title: '审核状态'
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.stuWorkId + '\')"><i class="fa fa-remove"></i>退选</a> ');
						return actions.join('');
					}
				}]
		};
		$.table.init(options);
	});

	function remove(id) {
		table.set();
		$.modal.confirm("确定退选本次" + table.options.modalName + "吗？", function() {
			var url = $.common.isEmpty(id) ? table.options.removeUrl : table.options.removeUrl.replace("{id}", id);
			if(table.options.type == table_type.bootstrapTreeTable) {
				$.operate.get(url);
			} else {
				var data = { "ids": id };
				$.operate.submit(url, "post", "json", data);
			}
		});
	}

	function paramsMatter(value, row, index) {
		var span = document.createElement("span");
		span.setAttribute("title", (typeof(value) == "undefined") ? "-" : value);
		span.innerHTML = (typeof(value) == "undefined") ? "-" : value;
		return span.outerHTML;
	}
	//td宽度以及内容超过宽度隐藏
	function formatTableUnit(value, row, index) {
		return {
			css: {
				"white-space": "nowrap",
				"text-overflow": "ellipsis",
				"overflow": "hidden",
				"max-width": "60px"
			}
		}
	}

</script>
</body>
</html>