<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>主页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<h2>欢迎儿童疫苗预约系统！</h2>
<!--    <div class="row  border-bottom white-bg dashboard-header">-->
<!--        <div class="col-sm-12">-->
<!--            <blockquote class="text-warning" style="font-size:14px">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        沈阳航空航天大学官网-->
<!--                        <br><a target="_blank" href="https://www.sau.edu.cn">https://www.sau.edu.cn</a><br>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        沈阳航空航天大学教务管理系统-->
<!--                        <br><a target="_blank" href="https://jxgl.sau.edu.cn/jwglxt">https://jxgl.sau.edu.cn/jwglxt</a><br>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        沈阳航空航天大学图书馆-->
<!--                        <br><a target="_blank" href="https://lib.sau.edu.cn">https://lib.sau.edu.cn/</a><br>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        智慧沈航-->
<!--                        <br><a target="_blank" href="http://i.sau.edu.cn">http://i.sau.edu.cn</a><br>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        更多....-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </blockquote>-->
<!--        </div>-->
<!--        <div class="col-sm-3">-->
<!--            <br>-->
<!--            <h4>联系方式：</h4>-->
<!--			<div class="ibox-content">-->
<!--				<p><i class="fa fa-send-o"></i> 在线体验：<a href="http://119.3.175.22:8092" target="_blank">SAU</a>-->
<!--				</p>-->
<!--				<p><i class="fa fa-qq"></i> QQ：<a href="https://jq.qq.com/?_wv=1027&k=5ZIjaeP" target="_blank">498155701</a>-->
<!--				</p>-->
<!--				<p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">泊停</a>-->
<!--				</p>-->
<!--			</div>-->
<!--        </div>-->
<!--        <div class="col-sm-5">-->
<!--            <h2>儿童疫苗预约系统</h2>-->
<!--            <p>一款针对学院实习管理工作而开发的后端管理系统。本系统基于SpringBoot搭建，拥有信息管理、疫苗信息、顶岗实习、实习管理、讨论区五大功能模块，管理员可通过系统中角色信息管理功能增添角色和访问权限，实现教师端和学生端的分级访问。该系统仍会继续优化，尽请期待。</p>-->
<!--            <p>-->
<!--                <b>当前版本：</b><span>v[[${version}]]</span>-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="col-sm-4">-->
<!--            <br>-->
<!--            <h4>技术选型：</h4>-->
<!--            <ol>-->
<!--                <li>核心框架：Spring Boot。</li>-->
<!--                <li>安全框架：Apache Shiro。</li>-->
<!--                <li>模板引擎：Thymeleaf。</li>-->
<!--                <li>持久层框架：MyBatis。</li>-->
<!--				<li>定时任务:Quartz。</li>-->
<!--                <li>数据库连接池：Druid。</li>-->
<!--                <li>工具类：Fastjson。</li>-->
<!--                <li>更多……</li>-->
<!--            </ol>-->
<!--        </div>-->
<!--    </div>-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">

    </script>
</body>
</html>
