<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sau.mapper.TalkMapper">
    <update id="agree" parameterType="long">
        update sau_talk_info_msg
        set audit_state = 2
        where talk_id in
        <foreach collection="array" item="talkId" open="(" close=")" separator=",">
            #{talkId}
        </foreach>
    </update>

    <update id="reject" parameterType="long">
        update sau_talk_info_msg
        set audit_state = 3
        where talk_id in
        <foreach collection="array" item="talkId" open="(" close=")" separator=",">
            #{talkId}
        </foreach>
    </update>

    <insert id="addMyTalk" parameterType="map">
        insert into sau_talk_info_msg(
          user_id,
          talk_content,
          talk_center,
          talk_time,
          audit_state,
          state
        )
        values (
          #{userId},
          #{talkContent},
          #{talkCenter},
          #{talkTime},
          #{auditState},
          1
        )
    </insert>

    <update id="deleteMyWork" parameterType="long">
        update sau_talk_info_msg
        set state = 2
        where talk_id in
        <foreach collection="array" item="talkId" separator="," open="(" close=")">
            #{talkId}
        </foreach>
    </update>

    <update id="updateMyTalk" parameterType="map">
        update sau_talk_info_msg
        <set>
            <if test="talkContent != null and talkContent != ''">
                talk_content = #{talkContent},
            </if>
            <if test="talkCenter != null and talkCenter != ''">
                talk_center = #{talkCenter},
            </if>
            <if test="talkTime != null and talkTime != ''">
                talk_time = #{talkTime},
            </if>
            <if test="auditState != null and auditState != 0">
                audit_state = #{auditState}
            </if>
        </set>
        where talk_id = #{talkId}
    </update>

    <select id="selectTalk" resultType="map">
        select
        a.talk_id as "talkId",
        a.user_id as "userId",
        a.talk_center as "talkCenter",
        a.talk_time as "talkTime",
        b.user_name as "author"
        from sau_talk_info_msg a
        left join sys_user b on a.user_id = b.user_id
        <where>
           a.state = 1 and a.audit_state = 2 and b.del_flag = 0
           <if test="userId != null and userId != 0">
              and a.user_id = #{userId}
           </if>
            <if test="talkCenter != null and talkCenter != ''">
              and a.talk_center = #{talkCenter}
            </if>
            <if test="author != null and author != ''">
              and a.author = #{author}
            </if>
        </where>
    </select>

    <select id="selectAllTalk" resultType="map">
        select
        a.talk_id as "talkId",
        a.user_id as "userId",
        a.talk_center as "talkCenter",
        a.talk_time as "talkTime",
        case a.audit_state when 1 then '待审核' when 2 then '通过' when 3 then '未通过' End as "auditState",
        b.user_name as "author"
        from sau_talk_info_msg a
        left join sys_user b on a.user_id = b.user_id
        <where>
            a.state = 1 and b.del_flag = 0
            <if test="userId != null and userId != 0">
                and a.user_id = #{userId}
            </if>
            <if test="talkCenter != null and talkCenter != ''">
                and a.talk_center = #{talkCenter}
            </if>
            <if test="author != null and author != ''">
                and b.user_name = #{author}
            </if>
            <if test="auditState != null and auditState != 0">
                and a.audit_state = #{auditState}
            </if>
        </where>
    </select>


    <select id="selectMyTalk" resultType="map">
        select
        talk_id as "talkId",
        user_id as "userId",
        talk_content as "talkContent",
        talk_center as "talkCenter",
        talk_time as "talkTime",
        case audit_state when 1 then '待审核' when 2 then '通过' when 3 then '未通过' End as "auditState"
        from sau_talk_info_msg
        <where>
            state = 1
            <if test="talkId != null and talkId != 0">
                and talk_id = #{talkId}
            </if>
            <if test="talkCenter != null and talkCenter != ''">
                and talk_center = #{talkCenter}
            </if>
        </where>
    </select>


    <select id="selectTalkByTalkId" resultType="com.ruoyi.sau.domain.Talk">
        select
        talk_id as "talkId",
        user_id as "userId",
        talk_content as "talkContent",
        talk_center as "talkCenter",
        talk_time as "talkTime"
        from sau_talk_info_msg
        where state = 1 and talk_id = #{talkId}
    </select>
</mapper>